<header>
    <section class="row header">
        <section id="head-left" class="col-md-4">
            <section class="head-logo">
                <a href="http://www.jegecul.com">
                    <img src="../../assets//image/logo.png" alt="LOGO" />
                </a>
            </section>
        </section>
        <nav class="col-md-8">
            <ul class="nav nav-pills" role="tablist">
                <li class="nav-item" role="presentation" *ngFor="let item of navbar; let i =index" [ngClass]="{'active': selected == i}" (click)="checkStatus(i)">
                    <a>{{item}}</a>
                    <section class="down-list" *ngIf="i==1&&selected==1">
                        <ul [style.display]="isSpecial ? 'block' : 'none'">
                            <li (click)="reload()">西部雏鹰公益12周年</li>
                            <li (click)="reload()">美廷家具明星团购惠</li>
                            <li (click)="reload()">吃货Follow Me</li>
                            <li (click)="reload()">宝岭社区文明家庭表彰晚会</li>
                        </ul>
                    </section>
                </li>
            </ul>
        </nav>
        <section class="btn-group" *ngIf="!logStat">
            <button class="btn btn-danger" (click)="login()">登录</button>
            <button class="btn btn-success" (click)="logup()">注册</button>
        </section>
        <section class="btn-group" *ngIf="logStat">
            <p>欢迎您,{{userName}}</p>
        </section>
    </section>
</header>
<!-- <carousel [interval]="myInterval" [noWrap]="noWrapSlides" [(activeSlide)]="activeSlideIndex">
    <slide *ngFor="let slidez of slides;">
        <img [src]="slidez" style="width: 100%; height:300px">
    </slide>
</carousel> -->