a{
    text-decoration: none;
    color: #333;
}
header{
    height: 75px;
    .header{
        max-width: 1030px;
        height: 100%;
        margin:0 auto;
        #head-left{
            height: 100%;
            display: flex;
            justify-content: space-between;
            overflow: hidden;
            .head-left-left{
                img{
                    height: 120%;
                    display: inline-flex;
                }
                img:first{
                    margin-right: 20px
                }
            }
        }
        nav{
            height: 100%;
            color: #fff;
            background-color: #333;
            padding: 0;
            .nav-pills{
                max-width: 1030px;
                height: 100%;
                margin: 0 auto;
                li+li{
                    margin: 0
                }
                li {
                    width: 24%;
                    text-align: center;
                    margin-right: 1%;
                    a{
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                        padding-bottom: 10px;
                        border-radius: 0;
                        cursor: pointer;
                    }
                }
            }
            .nav-pills>li.active>a, .nav-pills>li>a:focus {
                border-bottom: 5px solid#b81c20;
                box-sizing: border-box;
                padding-bottom: 5px;
            }
            .nav-pills>li>a:hover{
                border-bottom: 5px solid #881e22;
                box-sizing: border-box;
                padding-bottom: 5px;
            }
        }
    }
}
