a{
    text-decoration: none;
    color: #333;
}
header{
    color: rgba(255, 255, 255, 0.9);
    background-color: #293137;
    .header{
        #head-left{
            height: 65px;
            display: flex;
            justify-content: space-between;
            overflow: hidden;
            padding: 0;
            .head-logo{
                width: 100%;
                text-align: center;
                img{
                    height: 100%;
                    display: inline-flex;
                }
                img:first{
                    margin-right: 20px
                }
            }
        }
        nav{
            height: 65px;
            padding: 0;
            .nav-pills{
                max-width: 1030px;
                height: 100%;
                margin: 0 auto;
                li+li{
                    margin: 0
                }
                .nav-item{
                    width: 19%;
                    text-align: center;
                    margin-right: 1%;
                    a{
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                        padding-bottom: 10px;
                        border-radius: 0;
                        cursor: pointer;
                    }
                    .down-list{
                        background-color: rgba(0,0,0,.7);
                        position: absolute;
                        z-index: 9;
                        ul{
                            list-style: none;
                            padding: 0;
                            text-align: start;
                            li{
                                padding: 5px 10px;
                                border-bottom: 1px solid #aaa;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
            .nav-pills>.nav-item.active>a, .nav-pills>.nav-item>a:focus {
                border-bottom: 5px solid #881e22;
                box-sizing: border-box;
                padding-bottom: 5px;
            }
            .nav-pills>.nav-item>a:hover{
                border-bottom: 5px solid #b81c20;
                box-sizing: border-box;
                padding-bottom: 5px;
            }
        }
    }
}
