<footer>
    <section class="row content">
        <section class="col-md-3 footer-A">
            <section>
                <img src="../../assets/image/erweima.jpg" alt="微信二维码">
            </section>
            <section>
            <span>关注我们</span>
                <i class="iconfont icon-wechat" style="margin-left: 15px;"></i>
            </section>
        </section>
        <section class="col-md-5 footer-B">
            <ul>
                <li *ngFor="let item of footerList">
                    <i class="iconfont icon-{{item.icon}}"></i>
                    {{item.title}}：{{item.value}}
                </li>
            </ul>
        </section>
        <section class="col-md-4 footer-C">
            <div id="allmap">
                <img src="../../assets/image/ditu.png" alt="...">
            </div>
        </section>
    </section>
</footer>
<section class="company">
    <section class="row">
        <span class="col-md-3 col-md-offset-1">粤ICP备18015658号</span>
        <span class="col-md-4">版权所有：深圳觧歌文化传媒有限公司</span>
        <!-- 深圳觧歌文化传媒有限公司 -->
        <span class="col-md-4">
            <i class="iconfont icon-phone1"></i>
            13826529652
        </span>
    </section>
</section>