<div class="nybanner">
	<div class="nybanc">
		<img src="../../assets/image/nybanner.jpg" alt="nybanner">
	</div>
</div>
<section class="row content">
	<section class="col-md-3 content-left">
		<img src="../../assets/image/nyl.jpg" alt="nyl">
	</section>
	<section class="col-md-9 content-right">
		<section class="content-title">
			关于我们
			<span>About Me</span>
		</section>
		<section class="content-body">
			<h3>觧歌传媒简介</h3>
			<section>
				<p class="indent">
						深圳觧歌文化传媒有限公司成立于2016年11月，其前身是深圳飞天昱翔文化传播有限公司，
					是一家以活动策划、演出制作、广告设计、网络直播、影视节目、电影电视剧制作经营的综合性文化传媒公司。
					业务范围涵盖政府企事业单位，不仅拥有专业、高素质、高水准的导演、编导、摄影、摄像、后期剪辑、动画包装团队，
					全部毕业于传媒大学以及其他专业艺术院校的高素质员工，
					同时还具有由省新闻出版广电局颁发的广播电视节目制作许可证和全套最新摄制设备和专业演播厅。
					通过开放性的创作实体为国内的上百家公司和政府单位提供服务，
					不断拓展制作领域，创作出了许多高端、获奖作品。
				</p>
				<p class="indent">
						我们一直以来秉承着诚信进取、精心制作的服务宗旨，以精湛的技术、优越的出品，
					在业界享有良好的口碑和信誉，在同行业形成了一定的影响力，
					未来，将用更好的服务和质量服务好每一个客户和项目。
				</p>
				<p class="content-body-title">
					创意策划：
				</p>
				<p class="indent">
					高水平的制作班底是我们成功的保证。平庸是我们的耻辱，执着创新是我们终极的光荣与梦想，
					如何在普通和平凡中出奇制胜，我们的每一个创意都将是一个闪光的亮点，带给您一次次的惊喜。
					我们善于把握机会创造一个个万众瞩目的社会热点，帮助客户塑造良好的公益形象，给您带来丰厚的回报。					
				</p>
				<p class="content-body-title">
					服务宗旨：
				</p>
				<p  class="indent">
					让您感受真正的文化传媒力量！					
				</p>
			</section>
		</section>
	</section>
</section>