<div class="nybanner">
  <div class="nybanc">
      <img src="../../assets/image/nybanner.jpg" alt="nybanner">
  </div>
</div>
<section class="row content">
	<section class="block-a">
    <img class="touxiang" src="{{txImg}}" alt="3">
    <section class="info">
      <span>
        {{roomName}}
      </span>
      <span>
        {{level}}
        <img src="../../assets/image/daoju/huangguan.png" alt="👑">
      </span>
    </section>
    <span class="sum">观看人数：{{sum}}</span>
  </section>
  <section class="block-b">
    <span></span>
  </section>
  <section class="block-c">
    <ul class="c-header">
      <li class="c-header-item" *ngFor="let item of headerItems">
          <a href="javascript:void(0);" class="item">{{item}}</a>
      </li>                 
    </ul>
    <ul class="c-body">
      <li class="c-body-item" *ngFor="let item of daoju">
        <img src="{{item.src}}" alt="{{item.text}}">
        <span>{{item.text}}</span>
      </li>
    </ul>
  </section>
  <section class="block-d">
    <i class="iconfont icon-zan zan"></i>
    <section class="give">
      <i class="iconfont icon-liwu"></i>
      <span>礼物宝箱</span>
    </section>
    <section class="d-content">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="数量">
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon3">给</span>
        <input type="text" class="form-control" id="basic-url" placeholder="{{roomName}}">
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-danger">赠送</button>
        <button type="button" class="btn btn-danger dropdown-toggle">
          <span class="caret"></span>
          <!-- <span class="sr-only">Toggle Dropdown</span> -->
        </button>
      </div>
      <button class="btn btn-info">充值</button>
    </section>
  </section>
</section>