<section class="bg"  *ngIf="live">
    <p id="iframeVideo" >
        <iframe setHight
            width="100%"
            frameborder="0" 
            allowfullscreen="true" 
            webkitallowfullscreen="true" 
            mozallowfullscreen="true" 
            oallowfullscreen="true" 
            msallowfullscreen="true"  
            src="http://mudu.tv/?a=index&c=show&id=53344&type=mobile">
        </iframe>
    </p>
    <section id="mask-layer-box">
        <section class="mask-layer">
                <a href="http://mudu.tv/watch/916848" class="btn btn-primary in-live">进入直播间</a>
        </section>
    </section>
</section>
<section class="content-box" *ngFor="let item of contentBox">
    <section class="content-title">
        <p>
            {{item.title}}
        </p>
    </section>
    <section class="row content-body" >
        <li *ngFor="let contentItem of item.content" class="col-md-3">
                <img src="{{contentItem.img}}" alt="contentItem">
                <p>{{contentItem.str}}</p>
                <section class="in-live">
                    <button class="btn btn-danger" (click)="goRoom(contentItem.img, contentItem.str)"><!--> href="{{contentItem.video}}" target="blank" </!-->
                        <i class="iconfont icon-play"></i>
                    </button>
                </section>
        </li>
    </section>
</section>
<!-- 53344 -->
<!-- 96627 -->