<div class="nybanner">
  <div class="nybanc">
    <img src="../../assets/image/nybanner.jpg" alt="nybanner">
  </div>
</div>

<section class="row content">
  <section class="col-md-3 content-left">
    <img src="../../assets/image/nyl.jpg" alt="nyl">
  </section>
  <section class="col-md-9 content-right">
    <section class="content-title">
      业务范围
      <span>Business Scope</span>
    </section>
    <section id="content-body" class="content-body">
      <section class="row content-item" *ngFor="let item of content">
        <section class="col-md-4 item-left">
          <img src="{{item.img}}" alt="{{item.title}}">
        </section>
        <section class="col-md-8 item-right">
          <p class="item-title">
            {{item.title}}
          </p>
          <p class="item-content">
            {{item.value}}
          </p>
        </section>
      </section>
    </section>
  </section>
</section>
